@model DebitAutomationProject.Areas.Admin.Models.AdressViewModel

@{
    ViewBag.Title = "Adressing";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Adressing</h2>

@using (Html.BeginForm("Adressing", "Adress", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <fieldset>

        @Html.HiddenFor(model => model.adr.AdressId)
        <br />
        <p color="#33FF4E">Select Employee:</p>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.emp.EmployeeID, Model.EmployeeList)
            @Html.ValidationMessageFor(model => model.emp.EmployeeID)
        </div>

        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Adressing" class="btn btn-info" />
        </div>

    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "List")
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
